// Colors
// Green Pallet
$color-primary: #55c57a;
$color-primary-light: #7ed56f;
$color-primary-dark: #28b485;

// Black&White
$color-white: #fff;
$color-black: #000;

//Grey Pallet
$color-grey-light-1: #f7f7f7;
$color-grey-dark: #777;
$color-grey-light-2: #eee;
$color-grey-dark-2: #999;
$color-grey-dark-3: #333;

// Orange Pallet
$color-secondary: #ff7730;
$color-secondary-light: #ffb900;

// Blue Pallet
$color-tertiary: #5643fa;
$color-tertiary-light: #2998ff;

// Font
$default-font-size: 1.6rem;

// Grid
$grid-width: 114rem;
$gutter-vertical: 8rem;
$gutter-horizontal: 6rem;
